[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
datetime = "*"
plotly = "*"
streamlit = "*"
gsheetsdb = "*"
statsmodels = "*"
gspread = "*"
oauth2client.service_account = "*"
gspread_dataframe = "*"

[dev-packages]

[requires]
python_version = "3.7"
